/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {
    outline: none;
}
 
a:focus,a:active {
    outline: none; 
}

nav {
    display: block;
}

html,body {
    height:100%;
    width:100%;
    font-size:100%;
    line-height:1;
    -ms-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

a,a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
/*--------------------*/
 
 
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat+Alternates&family=Oswald&display=swap'); 
 
$title: 'Oswald', sans-serif;
$subtitle: 'Montserrat Alternates', sans-serif;
$cursive: 'Caveat', cursive;

 
body {
   font-family: $subtitle;
   font-size: 15px;
   line-height: 1.2;
   background-color: #fff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.text {

    background-image: url(./assets/img/text-img-1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &__title {
        font-family: $title;
        font-size: 30px;
        color: #fff;
        max-width: 400px;
        margin: 0 0 10px 0;
    }

    &__back {
        color: #fff;
    }

    &__subtitle {
        color: #fff;
        position: absolute;
        bottom: 10px;

        & > a {
            color: #fff;
        }
    }
}

.top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__name {
        font-family: $title;
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: 2px;
    }

    &__subtitle {
        margin: 5px 0 0 0;
    }
}

.contacts {
 
    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
 
    &__item {
        font-size: 28px;
        margin: 0 0 0 15px;
    }
 
    &__link {
        color: #000;
        
        &:visited {
            color: #757C65;
        }

        &--inContent {
            color: #fff;

            &:visited {
                color: #fff;
            }
        }
    }
}

.content {
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: row dense;
    padding-bottom: 30px;
}

.grid {
    grid-column-start: auto;
    grid-row-start: auto;     
    box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    counter-increment: item-counter;  
    background: #757C65;  

    &:hover {
        transform: scale(1.01);
    }   
    
    &--medium {
        grid-row-end: span 2;
    }

    &--large {
        grid-row-end: span 3;
    }

    &--full {
        grid-column-end: auto;

        @media screen and (min-width: 768px) {
        grid-column: 1/-1;
        grid-row-end: span 2;
        }
    }
}

.photo-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    overflow: hidden;

    &__title {
        font-family: $title;
        padding: 10px;
        background-color: #fff;
        color: #444;
    }

}

.text-item {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #e1dfdf;
    position: relative;
    z-index: 1;


    &__title {
        font-family: $title;
        z-index: 2;
        margin: 0 0 10px 0;

        &--photo {
            font-size: calc((100vw - 320px) / (1000 - 320) * (30 - 16) + 16px);
            color: #fff;
            letter-spacing: 2px;

            & > span {
                font-weight: 400;
                font-size: calc((100vw - 320px) / (1000 - 320) * (25 - 10) + 10px);
                font-family: $cursive;
            }
        }
    }

    &__img {
        position: absolute;
        z-index: 0;
    }

}

